<table class="report-table table">
  <thead class="thead-light">
  <tr>
    <th class="report-table__table-header subtext" scope="col">
      Reports
    </th>
    <th class="report-table__table-header subtext" scope="col">At a/ Date range</th>
    <th class="report-table__table-header subtext" scope="col">Target weight %</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="report-table__table-column subtext">
      Report table TBD
    </td>

    <td class="report-table__table-column subtext">

    </td>

    <td class="report-table__table-column subtext">

    </td>
  </tr>
  </tbody>
</table>
