<footer class="footer">
  <div class="footer__powered-by subtext">
    Powered by <img src="assets/images/btpanorama-footer-logo.svg" alt="BT Panorama">
  </div>

  <div class="footer__side-content">
    <ul class="footer__quick-links">
      <li class="subtext">
        <a class="footer__link" routerLink="/contact-us">Contact us</a>
      </li>
      <li class="subtext">
        <a class="footer__link" routerLink="/terms-of-use">Terms of use</a>
      </li>
      <li class="subtext">
        <a class="footer__link" routerLink="/privacy-statement">Privacy statement</a>
      </li>
      <li class="subtext">
        <a class="footer__link" routerLink="/accessibility">Accessibility</a>
      </li>
    </ul>

    <span class="subtext">&copy; 2015 BT Financial Group</span>
  </div>
</footer>
