@import '../../../scss/colors';

$report-pack-height: 220px;
$report-pack-container-padding: 16px;

:host {
  display: block;
  perspective: 600px;
  transition: all ease 300ms;

  &:hover {
    transform: translateY(-2px);
  }
}

.report-pack {
  position: relative;
  height: $report-pack-height;
  width: 176px;
  border: 1px solid $border-color;
  transition: all ease 300ms;
  transform-style: preserve-3d;
  box-shadow: 0 0 0 0 rgba(white, 0.32);

  &:hover {
    box-shadow: 0 40px 45px 0 rgba(black, 0.32);
  }

  &--selected {
    transform: rotateY(180deg);
  }

  &__front,
  &__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__front {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: white;
    z-index: 2;
  }

  &__front-title-container {
    position: relative;
    flex-grow: 1;
    padding: $report-pack-container-padding;
  }

  &__front-title {
    position: absolute;
    bottom: $report-pack-container-padding;
    left: $report-pack-container-padding;
  }

  &__front-description {
    height: 90px;
    background: linear-gradient(to bottom, #0c2b34, #335178);
    padding: $report-pack-container-padding;
    color: white;
    overflow: hidden;
  }

  &__back {
    transform: rotateY(180deg) translateZ(1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, #0c2b34, #335178);
    color: white;
    padding: $report-pack-container-padding;
    z-index: 1;
  }

  &__front-title,
  &__back-title {
    font-size: 18px;
    padding-right: $report-pack-container-padding;
    line-height: 1.33;
  }

  &__close-button {
    position: absolute;
    bottom: $report-pack-container-padding;
    left: $report-pack-container-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 32px);
    font-weight: normal;
    color: white;
    border-color: $brand-blue;
    padding: {
      top: 8px;
      bottom: 8px;
    }

    &:hover {
      background: $brand-blue;
    }
  }
}
