$brand-blue: #007ead;
$brand-blue-light: #00afd7;
$brand-green: #6ba33e;
$brand-green-light: #78c937;

$headings-color: #00232b;
$copy-color: #48525a;
$subtext-color: #67757f;
$disabled-color: #a1acb4;
$link-color: $brand-blue;
$border-color: #d9d9d9;

$content-background: #fafafa;
