@import 'variables';

@mixin mobileView {
  @media screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin desktopView {
  @media screen and (min-width: $mobile-breakpoint + 1px) {
    @content;
  }
}

@mixin separator {
  &::after {
    content: '·';
    display: inline-block;
    padding: 0 10px;
  }
}

@mixin resetList {
  list-style: none;
  margin: 0;
  padding: 0;
}
